env: 'development',
devMode: true,
cdn: {
    authKey: ENV.CDN_AUTH_KEY
},
scheduler: {
    sqs: {
        construct: {
            endpoint: 'http://sqs:9324',
            accountId: '123456789012',
            accessKeyId: 'fake-key',
            secretAccessKey: 'fake-secret',
            region: 'us-east-1'
        }
    },
    action: 'dev-action',
    sys: {
        endpoint: 'http://sqs:9324',
        action: 'dev-action'
    }
},
uri: {
    sso: 'http://dev-login.vixen.com:28080'
},
gracefulShutdownTimeout: 1000,
stats: {
    host: ENV.STATSD_HOST ? ENV.STATSD_HOST : 'localhost',
    port: ENV.STATSD_PORT ? ENV.STATSD_PORT : 8125,
    prefix: 'securify.',
    // For UDP sockets (default) it avoid auto-closubg the socket if it has no activity
    socketTimeout: 0
},
feature: {
    newRelic: false,
    directEmail: true,
    ageVerification: true,
    termsOfService: true,
    healthWarning: {
        'US-TX': {
            enabled: false
        },
         'US-AL': {
            enabled: true
        },
    },
    isLoginAccessSFWEnabled: false
},
hash: {
    pepper: {
        personal: ENV.PEPPER_PERSONAL ? ENV.PEPPER_PERSONAL : '',
        password: ENV.PEPPER_PASSWORD ? ENV.PEPPER_PASSWORD : '',
        urlSignSecret: ENV.PEPPER_URL_SIGN_SECRET ? ENV.PEPPER_URL_SIGN_SECRET : 'secret'
    }
},
emailProviderType: 'sparkpost',
sparkpost: {
    key: ENV.SPARKPOST_KEY ? ENV.SPARKPOST_KEY : 'SPARKPOST_KEY',
    transactionalIpPool: 'transactionalemails'
},
rabbitmq: {
    enabled: ENV.RABBIT_ENABLED ? ENV.RABBIT_ENABLED : false,
    host: ENV.RABBIT_HOST ? ENV.RABBIT_HOST : 'rabbitmq',
    vhost: '/',
    port: 5672,
    username: ENV.RABBIT_USERNAME ? ENV.RABBIT_USERNAME : '',
    password: ENV.RABBIT_PASSWORD ? ENV.RABBIT_PASSWORD : '',
    exchange: 'securify',
    reconnectTimeInSeconds: 3,
    connectionOptions: {
        clientProperties: {
            connection_name: ENV.HOSTNAME ? ENV.HOSTNAME : 'securify'
        }
    }
},
brands: {
    // Note logos are here: /repos/paysite/public/common/img/interstitial-logos
    admin: {
        name: 'Admin',
        uri: 'https://dev-admin.madcheddar.com:63443',
        membersUri: 'https://dev-admin.madcheddar.com:63443',
        logo: { src: '/static/images/logos/blacked.png', height: 28, width: 178 },
        styles: [],
        zoneIds: { desktop: 11512712, mobile: 11512697 },
        logoutZoneIds: { desktop: 11512754, mobile: 11512751 },
        clearCookiesPath: '/clear-cookies',
    },
    blacked: {
        name: 'Blacked',
        uri: 'http://dev-www.blacked.com:3000',
        membersUri: 'http://dev-members.blacked.com:49999',
        apiGatewayUri: 'http://dev-www.blacked.com:50001',
        logo: { src: '/static/images/logos/blacked-white.svg', height: 28.3, width: 287 },
        styles: [],
        zoneIds: { desktop: 11512712, mobile: 11512697 },
        logoutZoneIds: { desktop: 11512754, mobile: 11512751 },
        clearCookiesPath: '/clear-cookies',
        websiteName: 'BLACKED.com',
        launchYear: '2014',
        emailReplyHost: 'blacked.com',
    },
    tushy: {
        name: 'Tushy',
        uri: 'http://dev-www.tushy.com:3000',
        membersUri: 'http://dev-members.tushy.com:49999',
        apiGatewayUri: 'http://dev-members.tushy.com:50001',
        logo: { src: '/static/images/logos/tushy-white.svg', height: 36, width: 165 },
        styles: [],
        zoneIds: { desktop: 11512715, mobile: 11512700 },
        logoutZoneIds: { desktop: 11512766, mobile: 11512763 },
        clearCookiesPath: '/clear-cookies',
        websiteName: 'TUSHY.COM',
        launchYear: '2015',
        emailReplyHost: 'tushy.com',
    },
    blackedraw: {
        name: 'Blacked Raw',
        uri: 'http://dev-www.blackedraw.com:3000',
        membersUri: 'http://dev-members.blackedraw.com:49999',
        apiGatewayUri: 'http://dev-www.blackedraw.com:50001',
        logo: { src: '/static/images/logos/blackedraw-white.svg', height: 27.06, width: 287 },
        styles: [],
        zoneIds: { desktop: 11512718, mobile: 11512706 },
        logoutZoneIds: { desktop: 11512760, mobile: 11512757 },
        clearCookiesPath: '/clear-cookies',
        websiteName: 'BLACKED RAW',
        launchYear: '2017',
        emailReplyHost: 'blackedraw.com',
    },
    tushyraw: {
        name: 'Tushy Raw',
        uri: 'http://dev-www.tushyraw.com:3000',
        membersUri: 'http://dev-members.tushyraw.com:49999',
        apiGatewayUri: 'http://dev-www.tushyraw.com:50001',
        logo: { src: '/static/images/logos/tushyraw-white.svg', height: 35.59, width: 287 },
        styles: [],
        zoneIds: { desktop: 11512748, mobile: 11512745 },
        logoutZoneIds: { desktop: 11512790, mobile: 11512787 },
        clearCookiesPath: '/clear-cookies',
        websiteName: 'TUSHY RAW',
        launchYear: '2018',
        emailReplyHost: 'tushyraw.com',
    },
    deeper: {
        name: 'Deeper',
        uri: 'http://dev-www.deeper.com:3000',
        membersUri: 'http://dev-members.deeper.com:49999',
        apiGatewayUri: 'http://dev-www.deeper.com:50001',
        logo: { src: '/static/images/logos/deeper-white.svg', height: 36, width: 117.61 },
        styles: [],
        zoneIds: { desktop: 11512805, mobile: 11512808 },
        logoutZoneIds: { desktop: 11512814, mobile: 11512811 },
        clearCookiesPath: '/clear-cookies',
        websiteName: 'DEEPER',
        launchYear: '2019',
        emailReplyHost: 'deeper.com',
    },
    slayed: {
        name: 'Slayed',
        uri: 'http://dev-www.slayed.com:3000',
        membersUri: 'http://dev-members.slayed.com:49999',
        apiGatewayUri: 'http://dev-www.slayed.com:50001',
        logo: { src: '/static/images/logos/slayed-white.svg', height: 36, width: 117.61 },
        styles: [],
        zoneIds: { desktop: 11513108, mobile: 11513111 },
        logoutZoneIds: { desktop: 11513117, mobile: 11513114 },
        clearCookiesPath: '/clear-cookies',
        websiteName: 'SLAYED',
        launchYear: '2021',
        emailReplyHost: 'slayed.com',
    },
    milfy: {
        name: 'Milfy',
        uri: 'http://dev-www.milfy.com:3000',
        membersUri: 'http://dev-members.milfy.com:49999',
        apiGatewayUri: 'http://dev-www.milfy.com:50001',
        logo: { png: '/static/images/logos/milfy.png', src: '/static/images/logos/milfy-white.svg', height: 36, width: 117.61 },
        styles: [],
        zoneIds: { desktop: 11513252, mobile: 11513249 },
        logoutZoneIds: { desktop: 11513258, mobile: 11513255 },
        clearCookiesPath: '/clear-cookies',
        websiteName: 'MILFY',
        launchYear: '2023',
        emailReplyHost: 'milfy.com',
    },
    wifey: {
        name: 'Wifey',
        uri: 'http://dev-www.wifey.com:3000',
        membersUri: 'http://dev-members.wifey.com:49999',
        apiGatewayUri: 'http://dev-www.wifey.com:50001',
        logo: { png: '/static/images/logos/wifey.png', src: '/static/images/logos/wifey-white.svg', height: 36, width: 117.61 },
        styles: [],
        zoneIds: { desktop: 11725324, mobile: 11725321 },
        logoutZoneIds: { desktop: 11725381, mobile: 11725378 },
        clearCookiesPath: '/clear-cookies',
        websiteName: 'WIFEY',
        launchYear: '2025',
        emailReplyHost: 'wifey.com',
    },
    vixenplus: {
        name: 'VixenPlus',
        uri: 'http://dev-www.vixenplus.com:3000',
        membersUri: 'http://dev-members.vixenplus.com:49999',
        apiGatewayUri: 'http://dev-www.vixenplus.com:50001',
        logo: { png: '/static/images/logos/vixenplus.png', src: '/static/images/logos/vixenplus.png', height: 26, width: 226 },
        styles: [],
        zoneIds: { desktop: 11543932, mobile: 11543937 },
        logoutZoneIds: { desktop: 11543942, mobile: 11543947 },
        clearCookiesPath: '/clear-cookies',
        websiteName: 'VIXEN PLUS',
        launchYear: '2023',
        emailReplyHost: 'vixenplus.com',
    },
    vixen: {
        name: 'Vixen',
        uri: 'http://dev-www.vixen.com:3000',
        membersUri: 'http://dev-members.vixen.com:49999',
        apiGatewayUri: 'http://dev-www.vixen.com:50001',
        logo: { src: '/static/images/logos/vixen-white.svg', height: 36, width: 282.61 },
        styles: [],
        zoneIds: { desktop: 11512709, mobile: 11512703 },
        logoutZoneIds: { desktop: 11512772, mobile: 11512769 },
        clearCookiesPath: '/clear-cookies',
        websiteName: 'VIXEN.COM',
        launchYear: '2016',
        emailReplyHost: 'vixen.com',
    }
},
redis: {
    host: 'redis',
    port: 6379,
    db: 0
},
elasticSearch: {
    nodes: ['http://securifyelasticsearch:9200'],
    region: undefined
},
profileData: {
    type: 'http',
    endpoint: 'http://profiledataservice:18080'
},
hash: {
    pepper: {
        personal: ENV.PEPPER_PERSONAL ? ENV.PEPPER_PERSONAL : '',
        password: ENV.PEPPER_PASSWORD ? ENV.PEPPER_PASSWORD : ''
    }
},
recaptcha: {
    captchaLogin: 'false',
    timeout: 1000,
    v2: {
        privatekey: '6LdGStQZAAAAAEZi6EgmyWp-j4BQNsSI5qkJahhu',
        publickey: '6LdGStQZAAAAAL520AO8EGueyBs4atde8bjQPlaJ'
    },
    v3: {
        requireVerify: false,
        requireMinScore: false,
        minScore: 0.5,
        privatekey: '6LdYR9QZAAAAAAwXMFyzlgg8vkjie6ywxx2gpC4m',
        publickey: '6LdYR9QZAAAAAKlf2zqTCzD3dSgl5WUl0J19Dcm4'
    },
    skipKey: 'f-loginCaptcha',
    skipValue: 'so1fbyr7ukorab73c8a9c53cbok1b6n2t9awn4s2a2ghyyc1gtg4zto2qks1ve13'
},
keys: {
    system: ENV.KEYS_SYSTEM ? ENV.KEYS_SYSTEM : ''
},
keystore: {
    encryptKeyStorage: false,
    persistKeyStorage: false,
    signing: {
        kms: {
            region: 'us-east-2',
            kmsKid: '3a3a6155-6946-4858-ba8a-4b1758efab77'
        }
    },
    encryption: {
        kms: {
            region: 'us-east-2',
            kmsKid: '3a3a6155-6946-4858-ba8a-4b1758efab77'
        }
    }
},
gtm: {
    id: 'GTM-W4LGF52',
},
loggly: {
    enabled: true,
    tag: 'securify-frontend,development',
    logglyKey: 'some-value',
},
fingerprint: {
    enabled: false,
    castle: {
        enabled: ENV.CASTLE_ENABLED ? ENV.CASTLE_ENABLED : false,
        tokenRequired: ENV.CASTLE_TOKEN_REQUIRED ? ENV.CASTLE_TOKEN_REQUIRED : 'false',
        apiKey: 'pk_3zsxkpgoQnBBVv16XMpcxt6AXztWt8Xu',
        apiSecret: 'FPaJpmwPGYMfAvxfq2tAgxT3xyE3XJam',
        publishableKey: 'pk_3zsxkpgoQnBBVv16XMpcxt6AXztWt8Xu',
        timeout: 1000,
        policies: {
            challengeBotAttemptsLoginSuccess: '1dcf4a95-c402-4f4c-ab3a-839a1dc5cfb8',
            challengeBotAttemptsLoginFailed: '2ac5ce70-dbbe-4504-8ca6-65d7fb140d63'
        }
    },
    shadowBan: {
        timeLimit: 24 * 60 * 60 * 1000,
        timeout: 1000,
        usernameLimit: 10
    }
},
antifraud: {
    url: 'http://antifraud-internal-api:8080',
},
oidc: {
    cookies: {
        long: {
            signed: true,
            httpOnly: true,
            maxAge: 2592000000
        },
        short: {
            httpOnly: true,
            maxAge: 600000
        }
    },
    audiences: {
        admin: ['profile-data-service', 'oidc-service'],
        blacked: ['profile-data-service', 'oidc-service'],
        blackedraw: ['profile-data-service', 'oidc-service'],
        tushy: ['profile-data-service', 'oidc-service'],
        tushyraw: ['profile-data-service', 'oidc-service'],
        deeper: ['profile-data-service', 'oidc-service'],
        slayed: ['profile-data-service', 'oidc-service'],
        milfy: ['profile-data-service', 'oidc-service'],
        wifey: ['profile-data-service', 'oidc-service'],
        vixenplus: ['profile-data-service', 'oidc-service'],
        vixen: ['profile-data-service', 'oidc-service'],
        'oidc-service': ['profile-data-service', 'oidc-service'],
        'cross-sales': ['profile-data-service', 'oidc-service'],
        subscriptions: ['profile-data-service', 'oidc-service'],
        payments: ['profile-data-service', 'oidc-service']
    },
    clients: [
        {
            client_id: 'admin',
            client_secret: ENV.OIDC_CLIENT_SECRET_ADMIN ? ENV.OIDC_CLIENT_SECRET_ADMIN : 'OIDC_CLIENT_SECRET_ADMIN',
            redirect_uris: ['https://dev-admin.madcheddar.com:63443/login-callback'],
            post_logout_redirect_uris: ['https://dev-admin.madcheddar.com:63443'],
            backchannel_logout_uri: 'https://dev-admin.madcheddar.com:63443/backchannel-logout',
            mapping: true,
            grant_types: ['refresh_token', 'authorization_code'],
            roles: { wallet: ['@admin/user-wallet-credit', '@admin/user-wallet-debit', '@admin/user-wallet-balance', '@admin/user-wallet-transactions', '@gmsllc/role-profile-search'] },
        },
        {
            client_id: 'blacked',
            client_secret: ENV.OIDC_CLIENT_SECRET_BLACKED ? ENV.OIDC_CLIENT_SECRET_BLACKED : 'OIDC_CLIENT_SECRET_BLACKED',
            redirect_uris: ['https://dev-members.blacked.com:3443/login-callback', 'https://dev-members.blacked.com:3443/change-password-callback', 'http://dev-members.blacked.com:49999/oidc/login-callback', 'http://dev-members.blacked.com:49999/oidc/change-password-callback'],
            post_logout_redirect_uris: ['https://dev-members.blacked.com:3443/loggedout', 'http://dev-members.blacked.com:49999/oidc/loggedout'],
            backchannel_logout_uri: 'https://dev-members.blacked.com:3443/backchannel-logout',
            mapping: true,
            grant_types: ['refresh_token', 'authorization_code'],
        },
        {
            client_id: 'blackedraw',
            client_secret: ENV.OIDC_CLIENT_SECRET_BLACKEDRAW ? ENV.OIDC_CLIENT_SECRET_BLACKEDRAW : 'OIDC_CLIENT_SECRET_BLACKEDRAW',
            redirect_uris: ['https://dev-members.blackedraw.com:6443/login-callback', 'https://dev-members.blackedraw.com:6443/change-password-callback', 'http://dev-members.blackedraw.com:49999/oidc/login-callback', 'http://dev-members.blackedraw.com:49999/oidc/change-password-callback'],
            post_logout_redirect_uris: ['https://dev-members.blackedraw.com:6443/loggedout', 'http://dev-members.blackedraw.com:49999/oidc/loggedout'],
            backchannel_logout_uri: 'https://dev-members.blackedraw.com:6443/backchannel-logout',
            mapping: true,
            grant_types: ['refresh_token', 'authorization_code'],
        },
        {
            client_id: 'tushy',
            client_secret: ENV.OIDC_CLIENT_SECRET_TUSHY ? ENV.OIDC_CLIENT_SECRET_TUSHY : 'OIDC_CLIENT_SECRET_TUSHY',
            redirect_uris: ['https://dev-members.tushy.com:4443/login-callback', 'https://dev-members.tushy.com:4443/change-password-callback', 'http://dev-members.tushy.com:49999/oidc/login-callback', 'http://dev-members.tushy.com:49999/oidc/change-password-callback'],
            post_logout_redirect_uris: ['https://dev-members.tushy.com:4443/loggedout', 'http://dev-members.tushy.com:49999/oidc/loggedout'],
            backchannel_logout_uri: 'https://dev-members.tushy.com:4443/backchannel-logout',
            mapping: true,
            grant_types: ['refresh_token', 'authorization_code'],
        },
        {
            client_id: 'tushyraw',
            client_secret: ENV.OIDC_CLIENT_SECRET_TUSHYRAW ? ENV.OIDC_CLIENT_SECRET_TUSHYRAW : 'OIDC_CLIENT_SECRET_TUSHYRAW',
            redirect_uris: ['https://dev-members.tushyraw.com:9443/login-callback', 'https://dev-members.tushyraw.com:9443/change-password-callback', 'http://dev-members.tushyraw.com:49999/oidc/login-callback', 'http://dev-members.tushyraw.com:49999/oidc/change-password-callback'],
            post_logout_redirect_uris: ['https://dev-members.tushyraw.com:9443/loggedout', 'http://dev-members.tushyraw.com:49999/oidc/loggedout'],
            backchannel_logout_uri: 'https://dev-members.tushyraw.com:9443/backchannel-logout',
            mapping: true,
            grant_types: ['refresh_token', 'authorization_code'],
        },
        {
            client_id: 'slayed',
            client_secret: ENV.OIDC_CLIENT_SECRET_SLAYED ? ENV.OIDC_CLIENT_SECRET_SLAYED : 'OIDC_CLIENT_SECRET_SLAYED',
            redirect_uris: ['https://dev-members.slayed.com:7643/login-callback', 'https://dev-members.slayed.com:7643/change-password-callback', 'http://dev-members.slayed.com:49999/oidc/login-callback', 'http://dev-members.slayed.com:49999/oidc/change-password-callback'],
            post_logout_redirect_uris: ['https://dev-members.slayed.com:7643/loggedout', 'http://dev-members.slayed.com:49999/oidc/loggedout'],
            backchannel_logout_uri: 'https://dev-members.slayed.com:7643/backchannel-logout',
            mapping: true,
            grant_types: ['refresh_token', 'authorization_code'],
        },
        {
            client_id: 'milfy',
            client_secret: ENV.OIDC_CLIENT_SECRET_MILFY ? ENV.OIDC_CLIENT_SECRET_MILFY : 'OIDC_CLIENT_SECRET_MILFY',
            redirect_uris: ['https://dev-members.milfy.com:7743/login-callback', 'https://dev-members.milfy.com:7743/change-password-callback', 'http://dev-members.milfy.com:49999/oidc/login-callback', 'http://dev-members.milfy.com:49999/oidc/change-password-callback'],
            post_logout_redirect_uris: ['https://dev-members.milfy.com:7743/loggedout', 'http://dev-members.milfy.com:49999/oidc/loggedout'],
            backchannel_logout_uri: 'https://dev-members.milfy.com:7743/backchannel-logout',
            mapping: true,
            grant_types: ['refresh_token', 'authorization_code'],
        },
        {
            client_id: 'wifey',
            client_secret: ENV.OIDC_CLIENT_SECRET_WIFEY ? ENV.OIDC_CLIENT_SECRET_WIFEY : 'OIDC_CLIENT_SECRET_WIFEY',
            redirect_uris: ['https://dev-members.wifey.com:7943/login-callback', 'https://dev-members.wifey.com:7943/change-password-callback', 'http://dev-members.wifey.com:49999/oidc/login-callback', 'http://dev-members.wifey.com:49999/oidc/change-password-callback'],
            post_logout_redirect_uris: ['https://dev-members.wifey.com:7943/loggedout', 'http://dev-members.wifey.com:49999/oidc/loggedout'],
            backchannel_logout_uri: 'https://dev-members.wifey.com:7943/backchannel-logout',
            mapping: true,
            grant_types: ['refresh_token', 'authorization_code'],
        },
        {
            client_id: 'vixenplus',
            client_secret: ENV.OIDC_CLIENT_SECRET_VIXENPLUS ? ENV.OIDC_CLIENT_SECRET_VIXENPLUS : 'OIDC_CLIENT_SECRET_VIXENPLUS',
            redirect_uris: ['https://dev-members.vixenplus.com:7843/login-callback', 'https://dev-members.vixenplus.com:7843/change-password-callback', 'http://dev-members.vixenplus.com:49999/oidc/login-callback', 'http://dev-members.vixenplus.com:49999/oidc/change-password-callback'],
            post_logout_redirect_uris: ['https://dev-members.vixenplus.com:7843/loggedout', 'http://dev-members.vixenplus.com:49999/oidc/loggedout'],
            backchannel_logout_uri: 'https://dev-members.vixenplus.com:7843/backchannel-logout',
            mapping: true,
            grant_types: ['refresh_token', 'authorization_code'],
        },
        {
            client_id: 'deeper',
            client_secret: ENV.OIDC_CLIENT_SECRET_DEEPER ? ENV.OIDC_CLIENT_SECRET_DEEPER : 'OIDC_CLIENT_SECRET_DEEPER',
            redirect_uris: ['https://dev-members.deeper.com:7443/login-callback', 'https://dev-members.deeper.com:7443/change-password-callback', 'http://dev-members.deeper.com:49999/oidc/login-callback', 'http://dev-members.deeper.com:49999/oidc/change-password-callback'],
            post_logout_redirect_uris: ['https://dev-members.deeper.com:7443/loggedout', 'http://dev-members.deeper.com:49999/oidc/loggedout'],
            backchannel_logout_uri: 'https://dev-members.deeper.com:7443/backchannel-logout',
            mapping: true,
            grant_types: ['refresh_token', 'authorization_code'],
        },
        {
            client_id: 'vixen',
            client_secret: ENV.OIDC_CLIENT_SECRET_VIXEN ? ENV.OIDC_CLIENT_SECRET_VIXEN : 'OIDC_CLIENT_SECRET_VIXEN',
            redirect_uris: ['https://dev-members.vixen.com:5443/login-callback', 'https://dev-members.vixen.com:5443/change-password-callback', 'http://dev-members.vixen.com:49999/oidc/login-callback', 'http://dev-members.vixen.com:49999/oidc/change-password-callback'],
            post_logout_redirect_uris: ['https://dev-members.vixen.com:5443/loggedout', 'http://dev-members.vixen.com:49999/oidc/loggedout'],
            backchannel_logout_uri: 'https://dev-members.vixen.com:5443/backchannel-logout',
            mapping: true,
            grant_types: ['refresh_token', 'authorization_code'],
        },
        {
            client_id: 'oidc-service',
            client_secret: ENV.OIDC_CLIENT_SECRET_OIDC ? ENV.OIDC_CLIENT_SECRET_OIDC : 'OIDC_CLIENT_SECRET_OIDC',
            redirect_uris: ['http://dev-login.vixen.com:28080/login-callback'],
            post_logout_redirect_uris: ['http://dev-login.vixen.com:28080'],
            backchannel_logout_uri: 'http://dev-login.vixen.com:28080/backchannel-logout'
        },
        {
            client_id: 'profile-data-service',
            client_secret: ENV.OIDC_CLIENT_SECRET_PDS ? ENV.OIDC_CLIENT_SECRET_PDS : 'OIDC_CLIENT_SECRET_PDS',
            redirect_uris: ['http://dev-login.vixen.com:28080']
        },
        {
            client_id: 'cross-sales',
            client_secret: ENV.OIDC_CLIENT_SECRET_XSALES ? ENV.OIDC_CLIENT_SECRET_XSALES : 'OIDC_CLIENT_SECRET_XSALES',
            redirect_uris: ['https://dev-login.vixen.com']
        },
        {
            client_id: 'subscriptions',
            client_secret: ENV.OIDC_CLIENT_SECRET_SALES_SUBSCRIPTIONS ? ENV.OIDC_CLIENT_SECRET_SALES_SUBSCRIPTIONS : 'OIDC_CLIENT_SECRET_SALES_SUBSCRIPTIONS',
            redirect_uris: ['https://dev-login.vixen.com']
        },
        {
            client_id: 'payments',
            client_secret: ENV.OIDC_CLIENT_SECRET_SALES_PAYMENTS ? ENV.OIDC_CLIENT_SECRET_SALES_PAYMENTS : 'OIDC_CLIENT_SECRET_SALES_PAYMENTS',
            redirect_uris: ['http://dev-login.vixen.com']
        }
    ]
},
autologin: {
    redisKeyTtl: 3600,
    redisTokenTtl: 60,
    redisInvalidationTtl: 300,
     // allowed key types:
    keyTypes: [
        'm', // for mailer
        't', // for testing
        'i' // for internal
    ],
    // key types allowed for on-demand rotation:
    keyTypesToRotate: [
        't' // for testing
    ]
},
rabbitmq: {
    enabled: ENV.RABBIT_ENABLED ? ENV.RABBIT_ENABLED : false,
    host: ENV.RABBIT_HOST ? ENV.RABBIT_HOST : 'rabbitmq',
    vhost: '/',
    port: 5672,
    username: ENV.RABBIT_USERNAME ? ENV.RABBIT_USERNAME : 'guest',
    password: ENV.RABBIT_PASSWORD ? ENV.RABBIT_PASSWORD : 'guest',
    exchange: 'securify',
    reconnectTimeInSeconds: 3,
    connectionOptions: {
        clientProperties: {
            connection_name: ENV.HOSTNAME ? ENV.HOSTNAME : 'securify'
        }
    }
},
ageVerification: {
    regions: {
        'FR': { provider: 'VERIFY-MY-AGE' },
        'GB': { provider: 'VERIFY-MY-AGE' },
        'US-AR': { provider: 'VERIFY-MY-AGE' },
        'US-LA': { provider: 'LA-WALLET' },
        'US-MS': { provider: 'VERIFY-MY-AGE' },
        'US-UT': { provider: 'VERIFY-MY-AGE' },
        'US-TX': { provider: 'VERIFY-MY-AGE' },
        'US-VA': { provider: 'VERIFY-MY-AGE' },
        'US-MT': { provider: 'VERIFY-MY-AGE' },
        'US-NC': { provider: 'VERIFY-MY-AGE' },
        'US-GA': { provider: 'VERIFY-MY-AGE' },
        'US-ID': { provider: 'VERIFY-MY-AGE' },
        'US-IN': { provider: 'VERIFY-MY-AGE' },
        'US-KS': { provider: 'VERIFY-MY-AGE' },
        'US-KY': { provider: 'VERIFY-MY-AGE' },
        'US-NE': { provider: 'VERIFY-MY-AGE' },
        'US-AL': { provider: 'VERIFY-MY-AGE' },
        'US-OK': { provider: 'VERIFY-MY-AGE' },
        'US-TN': { provider: 'VERIFY-MY-AGE' },
        'US-SC': { provider: 'VERIFY-MY-AGE' },
        'US-FL': { provider: 'VERIFY-MY-AGE' }
    }
},
termsOfService: {
    version: '1.0',
    excludedClients: [ 'admin' ]
},
laWallet: {
    apiEndpoint: 'https://lawallet-stage-web-api.azurewebsites.net/api/v1/verify-you-remote/start-session',
    callbackUrl: 'http://dev-login.vixen.com:28080/sso/age-verification',
    secretHeaderKey: 'x-api-key',
    vendorApiKey: ENV.LA_WALLET_VENDOR_API_KEY ? ENV.LA_WALLET_VENDOR_API_KEY : '',
    secret: ENV.LA_WALLET_POSTBACK_SECRET ? ENV.LA_WALLET_POSTBACK_SECRET : '',
    ipWhitelist: [
        '127.0.0.1'
    ]
},
verifyMyAge: {
    enabled: true,
    apiHost: 'https://sandbox.verifymyage.com/verify-my-age',
    vendorApiKey: ENV.VERIFY_MY_AGE_VENDOR_API_KEY ? ENV.VERIFY_MY_AGE_VENDOR_API_KEY : '',
    vendorApiSecret: ENV.VERIFY_MY_AGE_VENDOR_API_SECRET ? ENV.VERIFY_MY_AGE_VENDOR_API_SECRET : '',
},
deviceChallenge: {
    cookieName: 'challenge-id',
    expirationTimeInSec: 3600,
    messagePublishTimeoutMS: 5000
},
aws: {
    streamNameSuffix: 'paysites-kinesis-development',
    localstackUrl: 'http://localstack:4566',
}
